asgiref==3.11.0
astroid==3.3.11
dill==0.4.0
Django==6.0
gunicorn==23.0.0
isort==6.1.0
mccabe==0.7.0
packaging==25.0
platformdirs==4.5.1
pylint==3.3.9
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
sqlparse==0.5.5
tomlkit==0.13.3
whitenoise==6.11.0
